* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  border-radius:0 !important;
  box-shadow:none !important;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  color: #444;
}
